.btn {
  width: 218px;
  height: 50px;
  display: flex;
  color: $color-white;
  text-decoration: none;
  border-radius: 25px;
  border-style: none;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px #00000040;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 30px 0px;

  &:hover {
    background: linear-gradient(0deg, #ffffff26, #ffffff26), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  }
}

/* like button */

.fav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--pos {
    width: 10%;
  }

  &__element {
    font-size: 25px;
    transform-origin: bottom;

    &__unlike {
      @include color($color-black);
    }

    &__like {
      opacity: 0;
      position: absolute;
      transform: scale(0);
      transition: all 400ms linear;

      &--pink {
        color: $color-secondary;
      }

      &--purp {
        color: $color-primary;
      }
    }
  }

  &:hover {
    .fav__element {
      &__unlike {
        opacity: 0;
        transition: all 400ms linear 300ms;
      }

      &__like {
        z-index: 1;
        transform: scale(1);

        &--pink {
          opacity: 0.9;
        }

        &--purp {
          opacity: 0.5;
        }
      }
    }
  }
}
