@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
